<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.lib.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.wh.lib.domain.Address" >
    <id column="addressid" property="addressid" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="CHAR" />
    <result column="shengfen" property="shengfen" jdbcType="CHAR" />
    <result column="city" property="city" jdbcType="CHAR" />
    <result column="dist" property="dist" jdbcType="CHAR" />
    <result column="detail" property="detail" jdbcType="CHAR" />
    <result column="consigneename" property="consigneename" jdbcType="CHAR" />
    <result column="consigneephone" property="consigneephone" jdbcType="CHAR" />
    <result column="defaultaddr" property="defaultaddr" jdbcType="CHAR" />
    <result column="customerid" property="customerid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    addressid, country, shengfen, city, dist, detail, consigneename, consigneephone, 
    defaultaddr, customerid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where addressid = #{addressid,jdbcType=INTEGER}
  </select>
  <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where customerid = #{customerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where addressid = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wh.lib.domain.Address" >
    insert into address (addressid, country, shengfen, 
      city, dist, detail, consigneename, 
      consigneephone, defaultaddr, customerid
      )
    values (#{addressid,jdbcType=INTEGER}, #{country,jdbcType=CHAR}, #{shengfen,jdbcType=CHAR}, 
      #{city,jdbcType=CHAR}, #{dist,jdbcType=CHAR}, #{detail,jdbcType=CHAR}, #{consigneename,jdbcType=CHAR}, 
      #{consigneephone,jdbcType=CHAR}, #{defaultaddr,jdbcType=CHAR}, #{customerid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wh.lib.domain.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        addressid,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="shengfen != null" >
        shengfen,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="dist != null" >
        dist,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="consigneename != null" >
        consigneename,
      </if>
      <if test="consigneephone != null" >
        consigneephone,
      </if>
      <if test="defaultaddr != null" >
        defaultaddr,
      </if>
      <if test="customerid != null" >
        customerid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        #{country,jdbcType=CHAR},
      </if>
      <if test="shengfen != null" >
        #{shengfen,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=CHAR},
      </if>
      <if test="dist != null" >
        #{dist,jdbcType=CHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=CHAR},
      </if>
      <if test="consigneename != null" >
        #{consigneename,jdbcType=CHAR},
      </if>
      <if test="consigneephone != null" >
        #{consigneephone,jdbcType=CHAR},
      </if>
      <if test="defaultaddr != null" >
        #{defaultaddr,jdbcType=CHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.lib.domain.Address" >
    update address
    <set >
      <if test="country != null" >
        country = #{country,jdbcType=CHAR},
      </if>
      <if test="shengfen != null" >
        shengfen = #{shengfen,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=CHAR},
      </if>
      <if test="dist != null" >
        dist = #{dist,jdbcType=CHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=CHAR},
      </if>
      <if test="consigneename != null" >
        consigneename = #{consigneename,jdbcType=CHAR},
      </if>
      <if test="consigneephone != null" >
        consigneephone = #{consigneephone,jdbcType=CHAR},
      </if>
      <if test="defaultaddr != null" >
        defaultaddr = #{defaultaddr,jdbcType=CHAR},
      </if>
      <if test="customerid != null" >
        customerid = #{customerid,jdbcType=INTEGER},
      </if>
    </set>
    where addressid = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.lib.domain.Address" >
    update address
    set country = #{country,jdbcType=CHAR},
      shengfen = #{shengfen,jdbcType=CHAR},
      city = #{city,jdbcType=CHAR},
      dist = #{dist,jdbcType=CHAR},
      detail = #{detail,jdbcType=CHAR},
      consigneename = #{consigneename,jdbcType=CHAR},
      consigneephone = #{consigneephone,jdbcType=CHAR},
      defaultaddr = #{defaultaddr,jdbcType=CHAR},
      customerid = #{customerid,jdbcType=INTEGER}
    where addressid = #{addressid,jdbcType=INTEGER}
  </update>
</mapper>