@CHARSET "UTF-8";
.logindiv {
	margin:100px;
	
	border-style: solid solid solid none;
	width: 400px;
	box-shadow:0 0 30px #000;
}

.loginsfcinfo{
	
	margin-left:100px;
	margin-top:10px;
	margin-bottom:10px;
	
}
